* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}
:root {
  --big-font: 4.5rem;
  --h2-font: 2.6rem;
  --p-font: 1.1rem;
}
body {
  background-color: rgb(237, 237, 227);
}
header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.911);
  padding: 30px 14%;
  transition: all 0.5 ease;
  z-index: 1000;
}
.logo {
  float: left;
  z-index: 1000;
}
.menu {
  display: flex;
}
.navlist {
  display: inline-flex;
  justify-content: center;
}
.navlist a {
  color: white;
  font-size: var(--p-font);
  font-weight: 600;
  margin: 0 30px;
  transition: all 0.5s ease;
}
.navlist a:hover {
  color: red;
}
.navlist a.active {
  color: red;
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 33px;
  background: red;
  border-radius: 3rem;
  box-shadow: #ff450d 0px 1px 25px;
}
.nav-icon i {
  vertical-align: middle;
  font-size: 25px;
  color: white;
  transition: all 0.5s ease;
}
#menu-icon {
  font-size: 28px;
  color: white;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.nav-icon i:hover {
  color: black;
}
header.sticky {
  padding: 12px 14%;
  opacity: 0.8;
}
/*Boton scroll*/
.scroll {
  position: fixed;
  z-index: 1;
  bottom: 2.2rem;
  border-top: 2rem;
  right: 3.2rem;
}
.scroll i {
  font-size: 22px;
  color: white;
  background: red;
  padding: 10px;
  border-radius: 2rem;
}
/* Parte responsive*/
@media (max-width: 1545px) {
  header {
    padding: 22px 4%;
    transition: 0.2s;
  }
  main {
    padding: 50px 4% 40px;
    transition: 0.2s;
  }
}
@media (max-width: 1180px) {
  :root {
    --big-font: 4rem;
    --h2-font: 2.2rem;
    --p-font: 15px;
  }
}
@media (max-width: 1060px) {
  #menu-icon {
    display: initial;
  }
  .navlist {
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: rgb(52, 52, 52);
    transition: all 0.5s ease;
  }
  .navlist a {
    display: block;
    padding: 0.5rem;
    margin: 1rem;
    border-left: 2px solid red;
  }
  .navlist.open {
    top: 100%;
  }
}
/*Contenido*/
.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
}
.contenidotxt {
  width: 100%;
  text-align: center;
  padding: 350px;
  z-index: 1;
}
.contenidotxt h1 {
  color: rgb(228, 227, 227);
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.contenidotxt p {
  font-size: 19px;
  color: beige;
  padding: 0 200px;
  margin-bottom: 25px;
}
.button {
  display: flex;
  justify-content: center;
}

.btn1 {
  display: inline-block;
  background-color: #ff450d;
  padding: 13px 25px;
  width: 150px;
  margin: 0 10px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.btn1:hover {
  background-color: #fffefd;
  color: black;
}
/* Footer */
address{
  width: 100%;
  height: 60px;
  background: #ff450d;
}

address .add{
  width: 80%;
  height: 100%;
  display: flex;

}
.kfc-add , .kfc-icon{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 20px;
  
}
.kfc-icon{
  justify-content: flex-end;
}
.kfc-icon a{
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  transition: all .5s ease-in-out;
}
.kfc-icon a:hover{
  transform: rotate(360deg);

}
.kfc-icon i{
  color: white;
  font-size: 30px;
}

.add_logo{
  width: 140px;
  height: 70px;
  margin: 0px 10px 0px 0px;
 
}
/*Contenido*/
.card_bx{
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;


}
.Parrafo{
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #1f2329;
}
.card_bx .cards_bx1{
  width: 83%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;


}
.card_bx .cards_bx1 .card{
  position: relative;
  width: 420px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.card_bx .cards_bx1 .card_b{
  width: 420px;
  height: 300px;
  border-radius: 10px;
}
.card_bx .cards_bx1 .card img{
  width: 100%;
  height: 85%;
  border-radius: 10px;
  cursor: pointer;

}
.card_bx .cards_bx1 .card img:hover{
  animation: pulse; 
  animation-duration: 2s;
}

.button2{
  justify-content: center;
}
.btn2{
  text-align: center;
  padding: 13px 25px;
  background-color: #ff450d;
  margin: 0 10px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-size: 13px;
  align-items: center;
  z-index: 2;
}
.btn2:hover{
  background-color: #fffefd;
  color: black;
}
.card_bx .cards_bx1 .card_b img{
  width: 100%;
  height: 85%;
  border-radius: 10px;
  cursor: pointer;
}
.card_bx .cards_bx1 .card_b img:hover{
  animation: pulse; 
  animation-duration: 2s;
}
/*Slider*/
.swiper {
  width: 80%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 27rem;
  height: 23rem;
  border-radius: 2rem;
  object-fit: cover;
}
/* Menu */
.Fondo {
  position: relative;
  width: 100%;
  height: 80vh;
  background: #ff450d;
  overflow: hidden;
  
}
.Contenido-Menu{
  width: 63%;
  height: 87%;
  margin: auto;
  display: flex;
}
.left_content_slider , .right_food_slider{
  width: 50%;
  height: 100%;
  color: white;
  font-weight: 900;
}
.left_content_slider h1{
  font-size: 30px;
  line-height: 40px;
  margin-top: 80px;

}
.left_content_slider img{
  width: 23rem;
  height: 13rem;
}
.left_content_slider .dots{
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.left_content_slider .dots h6{
  display: flex;
  width: 15px;
  height: 6px;
  border-radius: 10px;
  background: #dfdddc;
  margin-right: 5px;
  transition: all .3s ease-in-out;
}
.right_food_slider{
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_food_slider img{
  position: absolute;
  width: 300px;
  height: 280px;
  margin-top: 250px;
}
.left_content_slider .dots .head_dots_main{ 
  width: 20px;
  height: 8px;
  background: #fffefd;
}
/* Menu 2*/
.menu2{
  position: relative;
  width: 40%;
  height: 125px;
  margin: auto;
}
.menu_sec{
  width: 88%;
  height: 100%;
  margin: auto;
  display: flex;
  overflow-x: auto;
}
.sec{
  width: 115px;
  height: 100%;
  font-size:13px ;
  font-weight: 400;
  color: #ff450d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 10%;
}
.sec .img img{
  width: 100%;
  height: 100%;
}
.sec:hover{
  color: #1f2329;
  background-color: #ff450d;
}
/*Carrito Menu*/
.contenedor {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  contain: paint;
}

.contenedor .contenedor-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: 0.3s;
}

.contenedor .contenedor-items .item {
  max-width: 200px;
  margin: auto;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
  background-color: #d91018;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contenedor .contenedor-items .item .img-item {
  width: 100%;
  height: 80%;
  margin-top: 20%;
  justify-content: center;
}

.contenedor .contenedor-items .item:hover {
  transform: scale(1.05);
}

.contenedor .contenedor-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
}

.contenedor .contenedor-items .item .precio-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #ffffff; 
}

.contenedor .contenedor-items .item .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: #fff; 
  color: #000000;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contenedor .contenedor-items .item .boton-item:hover {
  background-color: #000000; 
  color: white;
}

.carrito {
  border: 1px solid #666;
  width: 35%;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: auto;
  position: sticky !important;
  top: 0;
  transition: 0.3s;
  margin-right: -100%;
  opacity: 0;
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.carrito .header-carrito {
  background-color: #d91018; 
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

.carrito .carrito-item {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #666;
  padding: 20px;
}

.carrito .carrito-item img {
  margin-right: 20px;
  max-width: 60px; 
}

.carrito .carrito-item .carrito-item-titulo {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
}

.carrito .carrito-item .selector-cantidad {
  display: inline-block;
  margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad {
  border: none;
  font-size: 18px;
  background-color: transparent;
  display: inline-block;
  width: 30px;
  padding: 5px;
  text-align: center;
}

.carrito .carrito-item .selector-cantidad i {
  font-size: 18px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio {
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #d91018; 
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #d91018; 
  cursor: pointer;
  display: block;
  background: transparent;
  z-index: 20;
}

.carrito .carrito-item .btn-eliminar i {
  pointer-events: none;
}

.carrito-total {
  background-color: #f3f3f3;
  padding: 30px;
}

.carrito-total .fila {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.carrito-total .btn-pagar {
  display: block;
  width: 100%;
  border: none;
  background: #d91018; 
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.carrito-total .btn-pagar:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 850px) {
  .contenedor {
      display: block;
  }
  .contenedor-items {
      width: 100% !important;
  }
  .carrito {
      width: 100%;
  }
}
/* Sobre Nosotros*/
.Nosotros{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../Imagenes/10.png);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;
  display: flex ;
  align-items: center;
}
.Nosotros-item{
  margin-top: 10%;
  text-align: center;
  color: white;
}
.Nosotros-item h2{
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 35px;

}
.Nosotros-item p{
  font-size: 16px;
  padding: 0 250px;
  margin-bottom: 25px;
}

.kfc-img{
  height: 300px;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}
.kfc-contenido{
  justify-content: center;
  text-align: center;
  color: #323337;
}
.kfc-contenido h2{
  font-size: 35px;
  line-height: 70px;
  text-transform: uppercase ;
  padding: 0 250px;
  margin-bottom: 15px;
}
.txt-p{
  font-size: 16px;
  padding: 0 250px;
  margin-bottom: 35px;
}
.kfc-grupo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.kfc-1{
  padding: 0 25px;
}
.kfc-1 img{
  width: 200px;
  height: 150px;

}
.kfc-1 h3{
  font-size: 20px;
  margin-bottom: 30px;
}
.kfc-1 p{
  font-size: 13px;
  margin-bottom: 30px;
}
.sucursa{
  background-image: linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7)), url(../Imagenes/11.png);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 80px 0;

}
.sucursa-contenido{
  text-align: center;
  color: #f9fafc;
}
.sucursa-contenido h2{
  font-size: 35px;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.sucursa-grupo{
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.sucursa-grupo1{
  padding: 0 30px;
}
.sucursa-grupo1 img{
  width: 30px;
  margin-bottom: 15px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(296deg) brightness(102%) contrast(101%);
}
.sucursa-grupo1 h3{
  font-size: 18px;
}
.sucursa-grupo1 p{
  font-size: 13px;
}
.sucursa-grupo1 iframe{
  width: 200px;
  height: 130px;
  border-radius: 10px;
}
.information{
  padding: 50px 0 100px 0;
  display: flex;
}
.information-txt{
  flex-basis: 50%;
  background-color: #d91018;
  justify-content: center;
  align-items: center;
}
.information-txt h2{
  font-size: 20px;
  line-height: 70px;
  text-transform: uppercase ;
  padding: 0 250px;
  margin-bottom: 15px;
}
.information-txt form{
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  padding: 0 100px;
  background-color: transparent;
  border: 1px solid #979797;
  width: 350px;
  margin-bottom: 20px;
  font-size: 15px;
  color: rgb(255, 254, 254);
}



/* footer */
footer{
  position: absolute;
  width: 100%;
  height: 273px;
  background-color: #1f2329;
  z-index: -2;
}
footer::before{
  position: absolute;
  content: " ";
  width: 270px;
  height: 200px;
  background: url(../Imagenes/kfc_brand.png)no-repeat;
  right: 10%;
  bottom: 0px;
  z-index: -3;

}

footer .links{
  width: 88%;
  height: 75%;
  margin: auto;
  display: flex;
  align-items: center;

}

footer .links .card-foot{
  width: 170px;
  height: 93%;

}
footer .links .card-foot:nth-child(2){
  padding-top: 40px;

}
footer .links .card-foot li{
  color: rgba(255, 255, 255, 0.958);
  padding: 5px 0px;
  font-size: 15px;
}
footer .links .card-foot li:nth-child(1){
  padding: 15px 0px 15px 0px;
}
footer .links .card-foot li a{
  color: rgb(186, 186, 186);
  font-size: 13px;
  transition: all .3s ease-in-out;
}
footer .links .card-foot li a:hover{
  color: rgb(255, 5, 5);
}
small {
  align-items: center;
  text-align: center;
  color: white;
  padding: 50px;
  padding-left: 40px;
}


